body {
    background-color: #2e3440;
}

.main-div {
    display: flex;
    flex-direction: column;
    font-family: Rubik, serif;
    place-items: center;
}

.main-text {
    margin-top: 2.42vw;
    margin-bottom: 2.42vw;
    background-color: #292e39;
    width: 90%;
    height: 1000px;
    min-height: 100vw;
    border-radius: 1em;
}
