.footer-section {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    margin: 0px;
    background-color: transparent;
}

.footer {
    background-color: rgb(59, 66, 82);
    min-height: 00px;
}

.DividerSvg-nhcneq-0-laHIGl {
    background-color: transparent;
}

.WaveFooter___StyledPath-nrfszb-0-cijXdC {
    transition: fill 400ms ease-in-out 0s;
    fill: rgb(55, 61, 76);
}

.WaveFooter___StyledPath2-nrfszb-1-hRcAMi {
    transition: fill 400ms ease-in-out 0s;
    fill: rgb(57, 64, 79);
}

.WaveFooter___StyledPath3-nrfszb-2-bopVfe {
    transition: fill 400ms ease-in-out 0s;
    fill: rgb(59, 66, 82);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1;
    padding-bottom: 4.6875vw;
}

.content {
    color: #88c0d0;
    font-weight: 900;
    font-size: large;

    cursor: pointer;
    text-decoration: underline;

}