.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.6875vw;

    top: 0;
    left: 0;
    width: 100%;
    color: 
}

.header-left {
    font-size: 1.641vw;
    font-weight: 900;
    margin-left: 1.406vw;
}

.header-right {
    margin-right: 1.406vw;
    display: flex;
    flex-direction: row;
}

.path {
    color: #2E3440;
    text-decoration: none;
    cursor: pointer;
}

.blog, .cv, .back{
    //color: rgb(236, 239, 244);
    color: #2E3440;
    border: none;
    background-color: transparent;
    font-size: 1.172vw;
    font-weight: 500;
    padding: 0.1758vw 0.5273vw;
    margin-right: 0.586vw;
    margin-left: 0.586vw;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.15s;

}


.blog {
    margin-left: 0px;
}

.cv {
    margin-right: 0px;
}

.blog:hover, .cv:hover, .back:hover {
    background-color: rgb(79, 88, 99);
}
