.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    top: 0;
    left: 0;
    width: 100%;
}

.header-left {
    font-size: 28px;
    font-weight: 900;
    margin-left: 24px;
}

.header-right {
    margin-right: 24px;
    display: flex;
    flex-direction: row;
}

.path {
    color: #88C0D0FF;
    text-decoration: none;
    cursor: pointer;
}

.blog, .cv{
    color: rgb(236, 239, 244);
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 9px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.15s;
}


.blog {
    margin-left: 0px;
}

.cv {
    margin-right: 0px;
}

.blog:hover, .cv:hover {
    background-color: rgb(79, 88, 99);
}