.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-opening {
    font-weight: bold;
    margin-top: 80px;
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*padding: 20px;*/
}

.left-one {
    margin-top: 0;
    padding-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name {
    color: #d8dee9;
    font-size: 80px;
    /*padding-top: 10px;*/
    padding-left: 10px;
    line-height: 1.2;
}

.description {
    color: #8fbcbb;
    line-height: 1.5;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}

.right-one {
    flex: 1;
}

.verb {
    font-weight: 400;
    font-style: italic;
}

.DividerSvg1 {
    margin-top: 80px;
    fill: rgb(41, 46, 57);
    transition: fill 400ms ease-in-out 0s;
}

.edu-section {
    background-color: #292e39;
    display: grid;
    place-items: center;
    width: 100%;

    min-height: 300px;
    padding-bottom: 0;
}

.education {
    margin-top: 100px;
    line-height: 1.2;
    background-color: #292e39;

    width: 75%;
    color: #e5e9f0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 200px;
}

.edu-info {
}

.edu-title {
    font-weight: 700;
    font-size: 50px;
}

.major {
    margin-top: 10px;
    width: 100%;
    font-size: 45px;
}

.program-name {
    text-decoration: underline;
    color: #e5e9f0;
    cursor: pointer;
    font-size: 30px;
    line-height: 2;
}

.program-name:visited {
    color: #e5e9f0;
}

.graduate-year {
    font-style: italic;
    margin-top: 30px;
    font-size: 20px;
}

.edu-pic {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 35%;
}

.uestc-icon {
    margin-top: 40px;
}

.DividerSvg2 {
    margin-top: 0;
    fill: rgb(41, 46, 57);
    transition: fill 400ms ease-in-out 0s;
}

.experience-section {
    margin-top: 50px;
    line-height: 1.2;
    color: #e5e9f0;
    width: 100%;
    display: grid;
    place-items: center;
    /*margin-bottom: 50px;*/
}

.experience {
    width: 80%;
    /*display: flex;*/

    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;

}

.expr-link {
    text-decoration: underline;
    cursor: pointer;
    color: #e5e9f0;
}

.expr-link:visited {
    color: #e5e9f0;
}

.expr-item {
    margin-top: 30px;
}


.expr-col {
    line-height: 1.8;
    font-size: large;
}

.project-section {
    display: grid;
    place-items: center;
    background-color: #292e39;

    line-height: 1.4;
    color: #d8dee9;

    padding-bottom: 100px;
}

.project {
    display: grid;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    width: 60%;
}

.project-item {
    margin-bottom: 15px;
}

.project-name {
    font-size: 30px;
    font-weight: 700;
}


.project-class {
    font-size: 25px;
    font-weight: 400;
    color: #b48ead
}


.contact-section {
    display: grid;
    line-height: 1.2;
    place-items: center;
}

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50%;
}

.contact-title {
    color: #d8dee9;
    font-size: 60px;
}

.icon {
    width: 40px;
    fill: #d8dee9;
    cursor: pointer;
}